@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
  }

  *:focus {
    outline: none;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-dmsans;
  }

  section {
    @apply pt-16 pb-4 md:pt-20;
  }
}

@layer components {
  .state__section {
    @apply basis-full;
  }

  .state___title {
    @apply text-2xl  border-b border-primaryColor font-oswald px-2 pb-2
    flex justify-between items-center gap-2;
  }

  .state__tasks {
    @apply mt-4 px-3 flex flex-col gap-3;
  }

  .task__card {
    @apply bg-secondaryColor border-2  border-primaryColor border-s-[6px]  rounded-md p-4  grow flex flex-col md:flex-col gap-4;
  }

  .link {
    @apply focus:outline-0 text-black hover:bg-transparent  hover:text-primaryColor hover:scale-150  p-2;
  }

  .add__btn {
    @apply fixed right-8 bottom-4 rounded-full p-2
           bg-secondaryColor text-primaryColor border-2 border-primaryColor
           hover:bg-primaryColor hover:text-white
           shadow-[2px_2px_15px_5px_rgba(0,0,0,0.3)]
           md:static md:shadow-none md:border-none;
  }

  .form__label {
    @apply py-2 px-0;
    color: theme("colors.primaryColor");
    display: block;
    width: 100%;
  }

  .form__select {
    @apply py-2 px-3;
    appearance: none;
    position: relative;
    width: 100%;
    display: block;
    /* border: 1px solid rgb(248, 113, 113); */
    border-radius: 0.375rem;
    cursor: pointer;
    /* color: rgb(177, 11, 11); */
  }

  .form__select option:first-child {
    color: gray;
    background: white;
    user-select: none;
  }
  .form__select option {
    appearance: none;
    color: theme("colors.primaryColor");
    background: theme("colors.secondaryColor");
    font-weight: bold;
    padding: 20px !important;
    display: block !important;
    margin: 30px !important;
  }

  .form__select:focus {
    outline: none;
  }

  /* 
  .form__select {
    @apply py-2 px-3;
    appearance: none;
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid rgb(248, 113, 113);
    border-radius: 0.375rem;
    cursor: pointer;
    color: rgb(177, 11, 11);
  }

  .form__select option:first-child {
    color: gray;
    background: white;
    user-select: none;
  }
  .form__select option {
    appearance: none;
    color: rgb(248, 113, 113);
    background: rgb(254, 202, 202);
    font-weight: bold;
    padding: 20px !important;
    display: block !important;
    margin: 30px !important;
  }

  .form__select:focus {
    outline: none;
  } */

  /* #region form__floating form__control */
  .form__floating {
    position: relative;

    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid theme("colors.primaryColor");
    border-radius: 0.375rem;
    overflow: hidden;
  }

  .form__floating > .form__control {
    @apply py-2 px-3;

    display: block;
    width: 100%;
  }

  .form__floating > .form__control + label {
    @apply py-2 px-3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  .form__floating > .form__control:focus {
    outline: 0;
  }

  .form__floating > .form__control:focus,
  .form__floating > .form__control:not(:placeholder-shown) {
    @apply pt-7;
  }

  /* .form__select:focus, */
  .form__floating:has(.form__control:focus) {
    box-shadow: 0 0 0 0.25rem theme("colors.secondaryColor");
  }
  .form__floating > .form__control:focus + label,
  .form__floating > .form__control:not(:placeholder-shown) + label {
    @apply pt-4 pb-0;

    opacity: 0.6;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  /* #endregion */

  /* #region form__floating form__select */
  .form__floating > .form__select {
    display: block;
    width: 100%;
    opacity: 0;
  }

  .form__floating > .form__select + label {
    @apply py-2 px-3;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  .form__floating > .form__select:focus,
  .form__floating > .form__select:has(option:checked:not(:disabled)) {
    outline: 0;
    opacity: 1;

    @apply pt-7 pb-2;
  }

  .form__floating:has(.form__select:focus) {
    box-shadow: 0 0 0 0.25rem theme("colors.secondaryColor");
  }
  .form__floating > .form__select:focus + label,
  .form__floating > .form__select:has(option:checked:not(:disabled)) + label {
    @apply pt-4 pb-0;

    background: white;
    opacity: 0.6;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  /* #endregion */

  .modal {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100dvw;
    height: 100dvb;
    display: flex;
    justify-content: center;
    align-items: center;
    .black__layer {
      position: absolute;
      z-index: -1;
      filter: blur(10px);
      background: #00000066;
      width: 100%;
      height: 100%;
    }
  }
}
/* ! ---------------------------------------------- */

@layer utilities {
  /* #region category bg-color */
  .category.education {
    @apply bg-blue-500;
  }
  .category.health {
    @apply bg-orange-500;
  }
  .category.finance {
    @apply bg-green-500;
  }
  .category.productivity {
    @apply bg-gray-500;
  }
  /* #endregion */

  /* #region task bg-color */
  .task__card.nextupTask {
    /* @apply bg-blue-500; */
  }
  .task__card.inprogressTask {
    @apply bg-yellow-200;
  }
  .task__card.doneTask {
    @apply bg-green-200;
  }

  /* #endregion */
}
